<section id="home" [ngClass]="{ 'dark-mode': isDarkMode }">
  <!-- Switch modo oscuro -->
  <label class="switch">
    <input type="checkbox" (change)="toggleDarkMode()" [checked]="isDarkMode" />
    <span class="slider round"></span>
  </label>

  <div class="shape"></div>

  <div id="cta">
    <h1 class="tittle">
      ¿Qué comemos
      <span> hoy </span>?
    </h1>
    <p class="description">
      ¡Nosotros te ayudamos!
    </p>
    <div id="cta_btn">
      <a [routerLink]="['/buscador']" class="btn_general">Buscar</a>
    </div>
  </div>

  <div id="banner">
    <img [src]="imagenes[indiceActual]" alt="Plato de comida" />
  </div>
</section>
